xml_dtd/guardarComentarios.dtd

<!ELEMENT visitantes (visitor)*>
<!ATTLIST visitantes ult_id IDREF #REQUIRED>
<!ELEMENT visitor (nombre, comentario, email?)>
<!ATTLIST visitor id ID #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT comentario (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT tema (#PCDATA)>
<!ATTLIST email mostrar (si|no) “no”>
